body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body h1 {
    padding: 0 0 0 1em;
}

header {
    align-items: center;
    background-color: #6c765c;
    color: white;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
}

header h1{
    font-size: 3em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

header p {
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    margin: 0.5em 0;
}

.nee {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

main {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(min(37.5em, 100%), 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

main > img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 100%;
}

footer {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(min(37.5em, 100%), 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

footer > img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 100%;
}

.linkjes {
    text-align: center;
  }

.linkjes h1 {
    text-align: start;
    padding: 0 0 0 1em;
}

.linkjes button {
    text-align: center;
    border: none;
    border-radius: 1em;
    padding: 1.5em;
    margin: 0.5em;
    background-color: #6c765c;
    cursor: pointer;
}

.linkjes a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3em;
    border: none;
}

/* footer {
    background-color: #6c765c;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
} */